<%- include('../layout/adminheader'); %>



<div class="main-header">
<h2>Categories</h2>
</div>
<div class="add-btn">
<br><a href="/admin/categories/add-category">Add a new category</a>
</div>
<div class="tab">
<table>
    <thead>
        <tr>
            <th>category</th>
            <th>edit</th>
            <th>delete</th>
        </tr>
    </thead>
    <tbody>
<% categories.forEach(function(cat){%>
    <tr>
        <td><%= cat.title%></td>
        <td><a href="/admin/categories/edit-category/<%= cat.id %>">edit</a></td>
        <td><a href="/admin/categories/delete-category/<%= cat._id %>">delete</a></td>
      
    </tr>
   
<%  });%>

</tbody>
</table>
</div>
<%- include('../layout/adminfooter'); -%>